
body {
    background-image: url('img/pune.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    color: black;
}


.border {
    border: 2px solid black !important;
}


h1 {
    color: blue;
    font-size: 40px;
}


p {
    color: brown;
    line-height: 1.6;
}


.container {
    margin-top: 40px;
}

.container.text-center {
    text-align: center;
}


.container .col img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}


.container .col a {
    color: black;
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
}


form .form-label {
    color: black;
}

form .form-control {
    margin-bottom: 15px;
    border: 2px solid black;
}

form button {
    margin-top: 15px;
}
